*.i
*.o
*.s
*.bin
*.ilk
*.pdb
debug/
Debug/
*.scc
*.user
*.vspcc
*.scc
*.ncb
*.sdf
*.old
*.suo
*.vsscc
*.rom
Release/
*.aps
*.clw
*.opt
*.plg
*.bin
*.elf
*.XML
*.lst
*.rel
*.sym
*.scc
*.tmp
Debug/
*.ihx
*.lk
*.map
*.noi
*.vspscc
*.user
*.a99
.vs/
.git*
*.user
.vs/
Debug/
Release/
build.tmp/
data.zip
